@media (max-width: 600px) {
    .home-container {
        padding: 0px !important;
    }
}

/* remove this after insert logo now its a tag */
.log-section {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: x-large;
}


.profile-section {
    display: flex;
    border-radius: 30px;
    border: 1px solid #363636;
    padding: 3px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-section img {
    border-radius: 40px;
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.profile-section h6 {
    padding: 0px 8px;
}

/* for selected side menus */
.css-cr2sry-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
    background: linear-gradient(90deg, #C300AB 0%, #19001F 100%);
    color: #fff !important;
}

.css-cr2sry-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemIcon-root {
    color: #fff !important;
}

.logout-section {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-bottom: 8px;
    cursor: pointer;
}

.footer-section {
    position: absolute;
    bottom: 0;
    width: 90%;
}