@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');

.lottie-container {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.welcome-image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0px;
  flex-direction: column;
  height: 140px;
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lottie-content {
  width: 380px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
}


.welcome-button {
  background: transparent;
  padding: 8px 24px;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.09);
  border: 1px #FFFFFF;
  border-radius: 8px;
}

.about-us-home {
  position: relative;
  overflow: hidden;
}

.about-us-home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 500px;
  background: radial-gradient(#c300ab9c 0%, rgb(0 0 0 / 0%) 100%);
  z-index: 1;
}

.about-us-home .container {
  position: relative;
  min-height: 400px;
  margin-top: 64px;
  padding-top: 24px;
  border-radius: 16px;
  z-index: 2;
  background-color: #0d0d0d;
}

.about-us-home .header {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
}

.content-about-image {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 16px;
}

.content-success-image {
  object-fit: cover;
  height: 100px;
}

.content-success-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 85px;
  line-height: 102px;
  letter-spacing: -4px;
  background: linear-gradient(90deg, #3b3939de 2%, #ece3eb5e 40%);
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  z-index: 2;
}

.content-head-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.45em;
}

.content-body {
  position: relative;
  /* width: 100%; */
  /* height: 100%; */
  overflow: hidden;
}

.content-body .background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #c300aba6, #04040400);
  filter: blur(85px);
  z-index: 1;
}

@media (max-width: 600px) {
  .content-about-image {
    object-fit: cover;
  }
}