@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');

.lottie-container {
  height: 430px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.welcome-image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0px;
  flex-direction: column;
  height: 160px;
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 48px;
}

.welcome-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lottie-content {
  width: 380px;
  max-width: 85%;
  max-height: 100%;
  padding-top: 100px;
}


.welcome-button {
  background: transparent;
  padding: 16px 24px;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.09);
  border: 1px #FFFFFF;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.welcome-button::before {
  content: '';
  position: absolute;
  border: 2px solid #c300ab9c;
  box-sizing: border-box;
  z-index: 1;
  opacity: 0;
  animation: border-animation 2s linear infinite;
}

/* about us  */
.about-us-home {
  position: relative;
  overflow: hidden;
}

.about-us-home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 500px;
  background: radial-gradient(#c300ab9c 0%, rgb(0 0 0 / 0%) 100%);
  z-index: 1;
}

.about-us-home .container {
  position: relative;
  min-height: 400px;
  margin-top: 64px;
  padding-top: 24px;
  border-radius: 16px;
  z-index: 2;
  background-color: #0d0d0d;
}

.about-us-home .header {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  opacity: 0.1;
}

/* content section */
.content-about-image {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 16px;
}

.content-success-image {
  object-fit: cover;
  height: 100px;
}

.content-success-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 85px;
  line-height: 102px;
  letter-spacing: -4px;
  background: linear-gradient(90deg, #3b3939de 2%, #ece3eb5e 40%);
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  z-index: 2;
}

.content-head-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.45em;
}

.content-body {
  position: relative;
  overflow: hidden;
}

.content-body .background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #c300aba6, #04040400);
  filter: blur(85px);
  z-index: 1;
}

/* review section */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.review-image {
  display: block;
  width: 100%;
  height: 88px;
  object-fit: cover;
  transition: width 0.3s ease;
  border-radius: 10px;
}



/* changing width od swiper need to change in mobile   npm module*/
.swiper-slide {
  margin: 2px 24px 3px 0px;
}

.swiper-pagination-bullet-active {
  background: #FFFFFF;
}

.swiper-pagination-bullet {
  background: #f2c8ed;
}

.swiper-pagination {
  position: relative;
  margin-top: 12px;
}

/* changing width od swiper need to change in mobile  npm module  */

.swiper-button-prev,
.swiper-button-next {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.swiper-button-prev {
  border-width: 20px 25px 20px 0;
  border-color: transparent #fff transparent transparent;
  left: 10px;
}

.swiper-button-next {
  border-width: 20px 0 20px 25px;
  border-color: transparent transparent transparent #fff;
  right: 10px;
}

.custom-arrow.prev,
.custom-arrow.next {
  display: none;
}


.review-rating {
  display: flex;
  flex-direction: column;
}

.review-rating-date {
  display: flex;
  justify-content: space-between;
}

.review-container {
  padding: 24px;
  border-radius: 30px;
  background: linear-gradient(48deg, #d94fc896 5%, #46003d96 14%, #8309747d 76%, #5e0052a1 39%, #c300ab5e 5%);
  height: auto;
}

.review-container:hover {
  background: #fff;
  color: #0d0d0d;
  transform: scale(1.05);
  transition-delay: 0.3s;
}

.review-container:hover p,
.review-container:hover h6,
.review-container:hover h5 {
  color: #0d0d0d;
}

.review-container:hover span {
  color: #C300AB;
}

/* footer section */
.footer-container {
  border-radius: 57px;
  border: 1px solid #C300AB;
}

.footer-divider {
  height: 1px;
  border: none;
  background: linear-gradient(to right, #33032D 35%, #C300AB 60%, #33032D 35%);
}

.footer-icon-container {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: cover;
  cursor: pointer;
  transition: background-image 0.3s ease-in-out;
  justify-content: center;
}

.footer-icon-container img {
  padding-right: 24px;
  width: 100%;
  height: 100%;
}

/* contact us section */

.contact-form img {
  object-fit: contain;
  height: 330px;
  width: 100%;
}

.contact-container {
  width: 100%;
  height: 565px;
  position: relative;
  display: flex;
}

.contact-container .div1 {
  width: 70%;
  height: 482px;
  border-radius: 30px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  transform: translateY(5%);
  align-items: center;
  display: flex;

  position: relative;
  box-shadow: none;
  backdrop-filter: blur(75px);
}

.contact-container .div1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgb(0 0 0), rgba(0, 0, 0, 0) 30%),
    linear-gradient(263.41deg, rgba(255, 255, 255, 0.14) 5.62%, rgba(195, 0, 171, 0.14) 96.56%),
    url(/src/assets/images/contactus_background.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  opacity: 0.1;
  z-index: -1;
}

.contact-container .div2 {
  width: 40%;
  height: 544px;
  position: absolute;
  top: 0;
  left: 60%;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}

.contact-container .div2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 3;
}

/* news section */
.newsSection-scroll-container {
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
  width: 100%;
}

.newsSection-scroll-content {
  display: flex;
  animation: scroll-left 5s linear infinite;
}

.newsSection-scroll-item {
  flex: 0 0 auto;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.news-letter-content {
  padding-bottom: 10px;
}

.news-letter-box {
  background: linear-gradient(to bottom, transparent 160px, rgb(195 0 171 / 13%) 100%, rgba(195, 0, 171, 0) 0%);
}



/* for xs */
@media (max-width: 600px) {
  .content-about-image {
    object-fit: cover;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .contact-container {
    height: max-content;
  }

  .contact-container .div1 {
    width: 100%;
    position: relative;
    height: max-content;
    backdrop-filter: none;
  }

  .contact-container .div2 {
    display: none;
  }

  .about-us-home .container {
    margin-top: 0px;
  }
}



/* for md */
@media (min-width: 600px) {
  .about-us-home .header {
    font-size: 3.5rem;
  }

  .news-letter-content {
    min-height: 180px;
  }
}

/* for sm */
@media (max-width: 900px) {
  .contact-container .div2 {
    display: none;
  }

  .contact-container .div1 {
    width: 100%;
    position: relative;
    height: max-content;
    backdrop-filter: none;
  }

  .contact-container .div1::before {
    background-image: none;
  }
}



@keyframes border-animation {
  0% {
    width: 0;
    height: 2px;
    opacity: 1;
    top: 0;
    left: 0;
  }

  25% {
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
  }

  50% {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  75% {
    width: 2px;
    height: 100%;
    top: 0;
    left: 100%;
  }

  100% {
    width: 0;
    height: 2px;
    top: 100%;
    left: 100%;
    opacity: 0;
  }
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-20%);
  }
}